body{
  textarea.large, select.large{
    width: 100%;
  }
  input.large{
    width: 932px;
    padding: 4px 3px;
  }
  div.container{
    padding: 10px 0;
  }
  .comment_block.span12{
    margin: 10px 0;
  }
  .add_comment{
    height: 0px;
    overflow: hidden;
  }
}
